<div class="homepage">
    <form action="/artistSearch" method="get">
        <input type="text" name="artistName" placeholder="Search artist"/>
        <button type="submit">Search</button>
    </form>
</div>